@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

.outerContainerDiv
{
  margin: 2em;
}

.filtersContainer
{
  margin-bottom: 2em;
}

.filterGroupDiv
{
  text-align: right;
}

.numericSpinnerFilterLabel
{
  margin: 0.5em;
}

.numericSpinnerFilterInput
{
  height: 2em;
  width: 6em;
  margin: 0.5em;
  padding-left: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #d0d0d0;
}

.textFilterLabel
{
  margin: 0.5em;
}

.textFilterInput
{
  height: 2em;
  margin: 0.5em;
  padding-left: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #d0d0d0;
}
